extends ../_layouts/page

block settings
  - var page = 'Base style'

block main
  div.Layout-container.mtl
    section
      h2 Sectioning Elements

      section
        h3 Headings

        div
          h1.mbm Header 1
            small &nbsp;small text
          h2.mbm Header 2
            small &nbsp;small text
          h3.mbm Header 3
            small &nbsp;small text
          h4.mbm Header 4
            small &nbsp;small text
          h5.mbm Header 5
          h6.mbm Header
