extends ../_layouts/page

block settings
   - var page = 'components'

block main
  div.App-container._mvl
    h1 Button
    p Formed button variations.

  div(class="_mvl _flex _flexCenter")
    button(class="Button _mrl" type="button") Button
    button(class="Button" disabled type="button") Button

  //- div(class="background-faded _pvl")
  //-   div.App-container
  pre.language-markup
    code
      |&lt;!-- Default button -->
      |&lt;button class="Button" type="button">
      |  Button
      |&lt;/button>
      |&#13;
      |&lt;!-- Disabled button -->
      |&lt;button class="Button" disabled type="button">
      |  Button
      |&lt;/button>

  div(class="_mvl _flex _flexCenter")
    button(class="Button Button--primary _mrl" type="button") Button
    button(class="Button Button--accent" type="button") Accent

  pre.language-markup
    code
      |&lt;!-- Primary button -->
      |&lt;button class="Button Button--primary" type="button">
      |  Button
      |&lt;/button>
      |&#13;
      |&lt;!-- Accent button -->
      |&lt;button class="Button Button--accent" type="button">
      |  Button
      |&lt;/button>

  div(class="_mvl _flex _flexCenter")
    button(
      class="Button Button--ctab _mrl" type="button") Button
    button(
      class="Button Button--primary Button--ctab _mrl" type="button") Button
    button(
      class="Button Button--accent Button--ctab _mrl" type="button") Accent
    button(class="Button Button--ctab " disabled type="button") disabled

  pre.language-markup
    code
      |&lt;!-- Call to Action Buttons -->
      |&lt;!-- ctab button -->
      |&lt;button class="Button Button--ctab" type="button">
      |  Button
      |&lt;/button>
      |&lt;!-- Primary ctab button -->
      |&lt;button class="Button Button--primary Button--ctab" type="button">
      |  Button
      |&lt;/button>
      |&#13;
      |&lt;!-- Accent ctab button -->
      |&lt;button class="Button Button--accent Button--ctab" type="button">
      |  Button
      |&lt;/button>
      |&#13;
      |&lt;!-- Disabled ctab button -->
      |&lt;button class="Button Button--ctab" disabled type="button">
      |  Button
      |&lt;/button>

  div(class="_mvl _flex _flexCenter")
    button(class="Button Button--primary Button--icon _mrl" type="button")
      +icon('icon-chevron-left')(class="Button-icon")
    button(class="Button Button--accent Button--icon" type="button")
      +icon('icon-chevron-right')(class="Button-icon")

  pre.language-markup
    code
      |&lt;!-- Button icon primary -->
      |&lt;button class="Button Button--icon Button--primary" type="button">
      |  &lt;svg class="Icon Button-icon">
      |   &lt;use xlink:href="#icon-chevron-left"></use>
      |  &lt;/svg>
      |&lt;/button>
      |&#13;
      |&lt;!-- Button icon accent -->
      |&lt;button class="Button Button--icon Button--accent" type="button">
      |  &lt;svg class="Icon Button-icon">
      |    &lt;use xlink:href="#icon-chevron-right"></use>
      |  &lt;/svg>
      |&lt;/button>

block scripts
  script.
    [].forEach.call(document.querySelectorAll('.Button'), function(elem) {
      elem.addEventListener('mouseup', function(event) {
        if (event) event.currentTarget.blur();
      });
    });

