extends ../_layouts/page

block settings
   - var page = 'components'

block main
  div.App-container._mvl
    h1 Card
    p._textLarge A card is a self-contained piece of UI.  Card includes sub-components for a header, body, and footer.  Easily extend a card component by adding a modifier to alter all or specific sub-components.

    div(class="_mvl _flex _flexCenter")
      div.Card.Card--wide
        div(class="Card-hd background-primary" style="height: 150px;")
          h2.Card-title Card title

        div.Card-bd  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam vitae modi harum fugiat consequuntur. Maxime consequuntur quibusdam molestiae nam vel. Omnis et illo eum, aut maxime. Consequuntur, ex quod saepe.
        div.Card-ft
          button(class="Button Button--primary" type="button") View

  pre
    code.language-html
      | &lt;div class="Card Card--wide">
      |   &lt;div class="Card-hd"&gt;
      |     &lt;div class="Card-title">Card title&lt;/div>
      |   &lt;/div>
      |   &lt;div class="Card-bd">
      |     Lorem ipsum dolor sit amet...
      |   &lt;/div>
      |   &lt;div >class="Card-ft">
      |     &lt;button class="Button Button--primary" type="button">
      |       View
      |     &lt;/button>
      |   &lt;/div>
      | &lt;/div>
