extends ../_layouts/page

block settings
  - var page = 'Formed.css'

block main
  div.size-full.size-8of12--sm.size-10of12--md.pal.layout-center
    p Formed visual styleguide and component-base library.
