extends ../_layouts/page

block settings
   - var page = 'components'

block main
  div.Layout-container.mvl
    h1 Layout
    p Construct the page layout for application.

  div.Layout-container.mvl
    h2 Default layout

    div.layout-relative.shadow-1(style="height: 300px")
      div.Layout.js-layout
        include ../_includes/drawer
        include ../_includes/header
        div.Layout-main

  pre.language-markup
    code
      :markdown
        <div class="Layout js-layout">
          <div class="Layout-drawer">...</div>
          <div class="Layout-header background-primary">...</div>
          <div class="Layout-main">...</div>
        </div>

        <script>
          formed.default.layout(document.querySelector('.js-layout'));
        </script>

  div.Layout-container.mvl
    h2 Drawer fixed

    div.layout-relative.shadow-1(style="height: 300px")
      div#parent
        div.Layout.Layout--drawerFixed.js-layoutWithParent
          include ../_includes/drawer
          include ../_includes/header
          div.Layout-main

  pre.language-markup
    code
      :markdown
        <div id="parent">
          <div class="Layout Layout--drawerFixed js-layoutWithParent">
            <div class="Layout-drawer">...</div>
            <div class="Layout-header background-primary">...</div>
            <div class="Layout-main">...</div>
          </div>
        </div>

        <script>
          formed.default.layout(
            document.querySelector('.js-layoutWithParent'),
            { parent: '#parent' }
          );
        </script>

  div.Layout-container.mvl
    h2 Scrollable layout

    div.layout-relative.shadow-1(style="height: 300px")
      div.Layout.Layout--scroll.js-layout
        div.Layout-header.background-primary
        div.Layout-main(style="min-height: 500px")

  pre.language-markup.pbl
    code
      :markdown
        <div class="Layout Layout--scroll js-layout">
          <div class="Layout-header background-primary">...</div>
          <div class="Layout-main">...</div>
        </div>

        <script>
          formed.default.layout(document.querySelector('.js-layout'));
        </script>

block scripts
  script.
    (function() {
      [].forEach
        .call(document.querySelectorAll('.js-layout'), function (layout) {
          formed.default.layout(layout);
        });

      formed.default.layout(document.querySelector('.js-layoutWithParent'), {
        parent: '#parent'
      });
    })();
