extends page

block main
  div.background-light.mbl.pvl
    div.App-container
      h2 Components
      p A collection of small independent, reusable pieces of UI.  Components offer enclosed semantics and behaviour.

  block content
