include ../_mixins/mixins

block settings

doctype html
html
  head
    title Formed CSS
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(charset="utf-8")
    meta(name="viewport"
         content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="stylesheet" href=urlPrefix + "formed.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css")

  body
    include ../assets/images/icons.svg

    div.Layout.Layout--drawerFixed
      include ../_includes/drawer
      include ../_includes/header

      main.Layout-main
        block main

    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js")
    block scripts
