include ../_mixins/mixins

- var IS_DEVELOPMENT = ENV === 'development'
- var jsAsset = IS_DEVELOPMENT ? 'js/formed.js' : 'dist/js/formed.min.js'
- var cssAsset = IS_DEVELOPMENT ? 'css/formed.css' : 'dist/css/formed.min.css'

block settings

doctype html
html
  head
    title Formed CSS
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(charset="utf-8")
    meta(name="viewport"
         content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="stylesheet" href=urlPrefix + cssAsset)
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css")

  body
    include ../assets/images/icons.svg

    div.Layout.Layout--drawerFixed
      include ../_includes/drawer
      include ../_includes/header

      main.Layout-main
        block main

    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js")
    script(src=urlPrefix + jsAsset)
    script.
      (function(window) {
        window.onload = function onload() {
          formed.default.layout(document.querySelector('.Layout'));

          var buttons = document.querySelectorAll('.js-button');

          if (buttons.length) {
            [].forEach.call(buttons, function (button) {
              formed.default.button(button);
            });
          }
        };
      })(window);
    block scripts
