include ../mixins/mixins

header.App-header.background-primary.shadow-2
  div.App-header-inner
    button(class="App-header-menu"
           type="button")
      +icon('icon-menu')(class="Icon--lg _textBaseline")
    h1.App-title._textCapitalize= page
