div.Layout-drawer
  h1.Layout-title.phl Formed.css

  ul.listNoStyle
    li: a(class="display-block pvm phl" href="base.html") Base styles
    li
      a(class="display-block pvm phl" href="card.html") Components
      if (/components/.test(page))
        ul.list-noStyle
          li: a(class="display-block pvs phl" href="layout.html") Layout
          li: a(class="display-block pvs phl" href="card.html") Card
          li: a(class="display-block pvs phl" href="menu.html") Menu
          li: a(class="display-block pvs phl" href="editor.html") Editor
          li: a(class="display-block pvs phl" href="button.html") Button
          li: a(class="display-block pvs phl" href="dialog.html") Dialog
          li: a(class="display-block pvs phl" href="toggles.html") Toggle
