include ../_mixins/mixins

header.Layout-header.background-primary
  div.Layout-header-inner
    button(class="Layout-header-menu"
      type="button")
      +icon('icon-menu')(class="Icon--lg text-baseline")
    h1.Layout-title.text-capitalize= page
