/**
 * Main application layout component.
 */

// Dependencies

@import "../config";
@import "../vendor/underscore/config";
@import "../_mixins/box-shadows";
@import "../_mixins/shadow-level";
@import "../_mixins/breakpoints";
@import "../_mixins/hover";
@import "../_mixins/transitions";
@import "../../node_modules/underscore.css.scss/scss/functions/rem";

/* Main component
   ------------------------------------------------------------------------- */

.App {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  height: 100%;
  width: 100%;

  -webkit-overflow-scrolling: touch;
}

/**
 * Modifier: App has fixed drawer.
 */

.App--fixedDrawer {
  position: absolute;

  min-height: 100%;

  .App-header,
  .App-main {
    @include breakpoint-media-min('md') {
      margin-left: _rem($app-left-offset);
      width: calc(100% - #{$app-left-offset});
    }
  }

  .App-header-menu {
    @include breakpoint-media-min('md') {
      display: none;
    }
  }

  .App-drawer {
    top: 0;

    @include breakpoint-media-min('md') {
      transform: translateX(0);
    }
  }
}

/**
 * Modifier: inline drawer with main area.
 */

.App--inlineDrawer {
  &.has-activeDrawer {
    & > .App-drawer {
      transform: translateX(0);
    }
  }

  > .App-drawer {
    @include breakpoint-media-min('md') {
      transform: translateX(0);
      top: _rem($app-header-height-md);
    }

    top: _rem($app-header-height);
  }

  .App-header-menu {
    @include breakpoint-media-min('md') {
      display: none;
    }
  }

  > .App-main {
    @include breakpoint-media-min('md') {
      margin-left: _rem($app-left-offset);
      width: calc(100% - #{$app-left-offset});
    }
  }
}

/* App header
   ------------------------------------------------------------------------- */

.App-header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
  z-index: $zindex-drawer;

  height: _rem($app-header-height);
  width: 100%;

  color: #fff;

  @include breakpoint-media-min('md') {
    height: _rem($app-header-height-md);
  }
}

/**
 * Child: inner wrapper for header sub-components.
 */

.App-header-inner {
  @include breakpoint-media-min('md') {
    padding-left: _rem($spacing-base);
    padding-right: _rem($spacing-base);
  }

  align-items: center;
  align-self: stretch;
  display: flex;
  flex-wrap: nowrap;

  height: 100%;
  padding: 0 _rem($spacing-medium);
  width: 100%;

  &.has-header-menu {
    @include breakpoint-media-max('md') {
      padding-left: _rem($spacing-medium);
    }
  }
}

/**
 * Child: menu button to activate `App-drawer`.
 */

.App-header-menu {
  display: inline-block;

  border: 0;
  height: _rem(48);
  margin: 0;
  padding: 0;
  width: _rem(48);

  background-color: transparent;

  color: inherit;
  text-align: center;

  cursor: pointer;
}

/* App title
   ------------------------------------------------------------------------- */

.App-title {
  @include breakpoint-media-min('md') {
    height: _rem($app-header-height-md);

    line-height: _em($app-header-height-md, $app-title-font-size);
  }

  display: block;

  margin: 0;
  height: _rem($app-header-height);
  width: 100%;

  font-size: _rem($app-title-font-size);
  letter-spacing: 0.01em;
  line-height: _em($app-header-height, $app-title-font-size);
}

/* App main
   ------------------------------------------------------------------------- */

.App-main {
  display: inline-block;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  -webkit-overflow-scrolling: touch;
}

.App-container {
  margin: 0 auto;
  padding: 0 _rem($spacing-base);
  width: 100%;
}

/* App drawer
   ------------------------------------------------------------------------- */

.App-drawer {
  @include transition-default(transform);
  @include shadow-level(1);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  left: 0;
  overflow: visible;
  overflow-y: auto;
  position: absolute;
  transform: translateX($app-drawer-translateX);
  transform-style: preserve-3d;
  z-index: $zindex-drawer;

  border-right: 1px solid $app-drawer-border-color;
  height: 100%;
  min-height: 100%;
  width: _rem($app-drawer-width);

  background-color: $app-drawer-background-color;

  will-change: transform;
  -webkit-overflow-scrolling: touch;

  &.is-active {
    transform: translateX(0);
  }
}

/**
 * Child: title for drawer sub-component.
 */

.App-drawer-title {
  @include breakpoint-media-min('md') {
    height: _rem($app-header-height-md);
    padding-left: _rem($spacing-base);
    padding-right: _rem($spacing-base);
  }

  align-items: center;
  display: flex;

  height: _rem($app-header-height);
  margin: 0;
  padding: 0 _rem($spacing-base);
  width: 100%;
}

/* App navigation
   ------------------------------------------------------------------------- */

/**
 * Child: navigation to route through application.
 * Regions that might have a `App-nav` can `App-header` and `App-drawer`.
 */

.App-nav {
  display: flex;
  flex-wrap: nowrap;

  box-sizing: border-box;

  .App-header-inner & {
    height: 100%;
  }

  .App-drawer & {
    align-items: stretch;
    flex-direction: column;

    padding-top: _rem($spacing-base);
  }
}

/**
 * Child: items in a nav.
 * Control appearance and layout of items in the nav.
 */

.App-nav-item {
  @include transition-default(opacity);
  @include hover {
    opacity: 1;
  }

  opacity: 0.67;

  margin: 0;
  padding: 0 _rem($spacing-medium);

  color: $app-nav-color;
  font-weight: 300;
  text-decoration: none;

  cursor: pointer;

  // Adjust navigation when embedded in a header.
  .App-header-inner .App-nav & {
    align-self: center;

    height: _rem($app-header-height);

    line-height: _rem($app-header-height);
  }

  // Adjust navigtation items in a drawer.
  .App-drawer .App-nav & {
    @include transition-default(background-color);
    @include hover {
      background-color: $color-grey-100;
    }

    align-items: center;
    display: flex;
    flex-shrink: 0;

    padding: #{_rem($spacing-medium)} #{_rem($spacing-base)};

    color: rgba(#000, 0.90);
  }
}

