/**
 * Build out consistent forms with the Form component.
 */

// Depenedencies
@import '../config';
@import '../_mixins/borders';
@import "../../node_modules/underscore.css.scss/scss/functions/rem";
@import "../../node_modules/underscore.css.scss/scss/mixins/placeholder";

/* Main component
   ------------------------------------------------------------------------- */

/**
 * 1. Reset browser defaults.
 * 2. Inherit font styles fron parent.
 */

.Form {
  margin: 0; /* 1 */
  padding: 0; /* 1 */

  font: inherit; /* 2 */
  vertical-align: baseline;
}

/* Form groups
   ------------------------------------------------------------------------- */

/**
 * Child: group controls, labels... together.
 */

.Form-group {
  margin-bottom: $spacing-base;
}

/* Labels
   ------------------------------------------------------------------------- */

.Form-label {
  display: inline-block;

  margin-bottom: _rem($spacing-small);
}

/* Form controls
   ------------------------------------------------------------------------- */

/**
 * Child: style form contorl elements: input, textarea...
 */

.Form-control {
  @include border-radius($border-radius-small);

  display: block;

  border: 1px solid #ddd;
  height: $form-control-height;
  padding: _rem($spacing-small) _rem($spacing-medium);
  width: 100%;

  background-image: none;

  color: $gray;
  font-size: _rem($font-size-base);
  font-weight: 300;
  line-height: _rem($line-height-base);

  // State

  &:focus {
    border-color: $theme-accent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
                0 0 8px rgba($theme-accent, 0.5);

    outline: 0;
  }

  &.is-disabled,
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    opacity: 1;

    background-color: $gray-lighter;

    cursor: not-allowed;
  }

  // Placeholder
  @include _placeholder {
    color: $gray-light;
  }
}

textarea.Form-control {
  height: auto;
}

