/**
 * Provide a layer of UI to cover other UI temporary.
 */

// Dependencies
@import "../config";

/* Main component
   ------------------------------------------------------------------------- */

.Mask {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  z-index: $zindex-mask;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.25);

  &.is-active {
    display: block;
  }
}
