// Helpers to alter the rendering box of an element that is generated during
// layout.

// Dependencies

@import "../config";
@import "../_mixins/visually-hide";
@import "../_mixins/breakpoints";

@mixin display-helpers($modifier: "") {
  .display-block#{$modifier} {
    display: block !important;
  }

  .display-inline#{$modifier} {
    display: inline !important;
  }

  .display-hidden#{$modifier} {
    display: none !important;
  }

  // 1. Address Firefox issue where images set to max-width 100%, break out of
  //    parent container, if parent container `display` property has a value of
  //    `inline-block.`

  .display-inlineBlock#{$modifier} {
    display: inline-block !important;

    max-width: 100% !important; // 1
  }

  .display-table#{$modifier} {
    display: table !important;
  }

  .display-tableCell#{$modifier} {
    display: table-cell !important;
  }

  // Hide text visually but leave available for screenreaders.

  .display-visuallyHidden#{$modifier} {
    @include visually-hide;
  }
}

@include display-helpers();

@if $has-display-media {
  @each $vp in ("xs", "sm", "md", "lg", "xl") {
    @include breakpoint-media-min(#{$vp}) {
      @include display-helpers("--#{$vp}");
    }
  }
}
