// Image helpers

// Adjust box layout for an image element.
// 1. Let height adjust to width and prevent stretching.
// 2. Set maximum width relative to its containing box.

.image-fluid {
  height: auto !important; // 1
  max-width: 100% !important; // 2
}

// Cirular images

.image-circle {
  border-radius: 50% !important;
}
