extends ../layouts/page

block settings
  - var page = 'Base style'

block main
  div._sizeFull._size8of12--sm.__size10of12--md._phl._centerBox

    section
      h2 Sectioning Elements

      section
        h3 Headings

        div.Frame
          h1._mbm Header 1
            small &nbsp;small text
          h2._mbm Header 2
            small &nbsp;small text
          h3._mbm Header 3
            small &nbsp;small text
          h4._mbm Header 4
            small &nbsp;small text
          h5._mbm Header 5
          h6._mbm Header
