extends ../layouts/page

block settings
  - var page = 'Formed.css'

block main
  div._sizeFull._size8of12--sm.__size10of12--md._phl._centerBox
    p Formed visual styleguide and component-based library.
