extends ../layouts/page

block settings
   - var page = 'components'

block main
  div.App-container._mvl
    h1 Menu
    p Menu description text.

    div(class="_mvl _flex _flexCenter")
      div.Menu.Menu--bottomLeft.is-active
        h5._mbn Menu trigger

        ul.Menu-box
          li.Menu-item Menu item 1
          li.Menu-item Menu item 2
          li.Menu-item Menu item 3

  div(class="background-faded _pvl" style="margin-top: 200px")
    div.App-container
      pre
        :markdown
          ````
            <div class="Menu Menu--bottomLeft">
              <h5>Menu trigger</h5>
              <div class="Menu-box">
                <li class="Menu-item">Menu item 1</li>
                <li class="Menu-item">Menu item 2</li>
                <li class="Menu-item">Menu item 3</li>
              </div>
            </div>
          ````
