// Dependencies
@import "../config";
@import "../_mixins/hover";
@import "../_mixins/shadow-level";
@import "../_mixins/transitions";
@import "../_functions/rem";

.Dialog {
  @include shadow-level(24);

  z-index: 100000;

  border: none;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  width: rem(280);

  background-color: #fff;

  text-align: left;
}

.Dialog-hd {
  $padding: rem($spacing-base);

  position: relative;

  padding: #{$padding} #{$padding} 0;
}

.Dialog-title {
  margin: 0;

  font-size: 1.25rem;
}

.Dialog-close {
  @include transition-default(color);
  @include hover-focus {
    background-color: transparent;

    color: rgba(#000, 0.75);
  }

  position: absolute;
  right: 0;
  top: 0;

  background-color: transparent !important;

  color: rgba(0, 0, 0, 0.50);
}

.Dialog-bd {
  padding: rem($spacing-base);
}

.Dialog-ft {
  $padding: rem($spacing-small);

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;

  padding: $padding #{rem($spacing-medium)};

  font-size: 1rem;
}
