/**
 * Editor component
 * Input and select text through a common interface with this component.
 *
 * Stability: unstable (1)
 */

// Dependences
@import '../config';
@import "../_mixins/transitions";
@import "../../node_modules/underscore.css.scss/scss/functions/rem";
@import "../../node_modules/underscore.css.scss/scss/mixins/placeholder";

/* Main container component
   ------------------------------------------------------------------------- */

/**
 * Wrapper for the control.
 */

.Editor {
  display: block;
  position: relative;

  margin: 0;
  max-width: 100%;
  padding: _rem($editor-vertical-spacing) 0;
  width: _rem($editor-width);

  font-size: _rem($editor-font-size);
}

/**
 * Modifier: large editors.
 */

.Editor--lg {
  .Editor-control {
    height: _rem(32);
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;

    font-size: _rem($font-size-large);
  }

  .Editor-label,
  &.Editor--hangingLabel .Editor-label {
    top: _rem($editor-label-top + $editor-control-padding);
    font-size: _rem($font-size-large);
  }

  &.Editor--hangingLabel.is-focused,
  &.Editor--hangingLabel.is-answered {
    .Editor-label {
      font-size: _rem($font-size-base);
    }
  }
}

/* Editor control
   ------------------------------------------------------------------------- */

/**
 * Child: actual control node.
 */

.Editor-control {
  display: block;

  border: none;
  border-bottom: 1px solid $editor-control-border-color;
  height: _rem($spacing-base);
  margin: 0;
  padding: _rem($editor-control-padding);
  width: $editor-control-width;

  background: none;

  color: inherit;
  font-family: inherit;
  font-size: _rem($editor-control-font-size);
  line-height: normal;
  text-align: left;

  @include _placeholder {
    opacity: 0.54;

    font-weight: 200;
    letter-spacing: 0.01em;
  }

  // State
  &:focus,
  .Editor.is-focused & {
    outline: none;
  }

  &[readonly] {
    color: rgba(0, 0, 0, 0.50);

    cursor: not-allowed;
  }
}

textarea.Editor-control {
  height: auto;
}

/* Label
   ------------------------------------------------------------------------- */

/**
 * Child: add a label to an editor.
 */

.Editor-label {
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: _rem($editor-label-top);

  padding: 0 _rem($editor-control-padding);
  width: 100%;

  color: $editor-label-color;
  text-align: left;
  white-space: nowrap;

  pointer-events: none;

  &:after {
    @include transition-default(width);

    bottom: _rem($editor-label-after-bottom);
    display: block;
    left: 0;
    position: absolute;
    visibility: hidden;

    height: _rem(2);
    width: 0;

    background-color: $theme-primary;

    content: "";
  }

  // State
  .Editor.is-focused &:after {
    visibility: visible;

    width: 100%;
  }

  // Modifier: hanging labels.
  // Labels that slide up when control is focused.
  .Editor--hangingLabel & {
    @include transition-default(top, font-size);
  }

  .Editor--hangingLabel.is-focused &,
  .Editor--hangingLabel.is-dirty &,
  .Editor--hangingLabel.is-answered & {
    top: 0;

    font-size: _rem($editor-label-hanging-font-size);
  }

  .Editor--hangingLabel.is-focused & {
    color: $theme-primary;

    &:after {
      background-color: $theme-primary;
    }
  }

  // Modifier: static labels.
  // Labels that sit above control.
  .Editor--staticLabel & {
    top: 0;
  }

  // Modifier: invalid editor.
  .Editor.is-invalid & {
    color: $editor-invalid-color;

    &:after {
      visibility: visible;

      width: 100%;

      background-color: $editor-invalid-color;
    }
  }
}

/* Help/Message
   ------------------------------------------------------------------------- */

%message {
  position: absolute;

  margin-top: _rem($spacing-small);
}

/**
 * Child: add help text for control.
 */

.Editor-help {
  @extend %message;

  display: block;

  color: $editor-help-color;
  font-size: _rem($editor-label-hanging-font-size);
}

/**
 * Child: invalid editor message to user telling what is wrong.
 */

.Editor-message {
  @extend %message;

  display: none;

  color: $editor-invalid-color;
  font-size: _rem($font-size-small);

  .Editor.is-invalid & {
    display: block;
  }
}

