// Editor component
// Input and select text through a common interface with this component.
//
// Stability: unstable (1)

// Dependences

@import '../config';
@import "../_mixins/borders";
@import "../_mixins/transitions";
@import "../_functions/rem";
@import "../../node_modules/underscore.css.scss/scss/mixins/placeholder";

// Main container component
// ----------------------------------------------------------------------------

.Editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  height: rem(82);
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: rem($editor-width);

  font-size: rem($editor-font-size);

  // Editor control frame that will we animate.

  &:before {
    @include border-radius($editor-control-border-radius);
    @include transition-default(border-color, transform);

    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scaleY(0.80);

    border: 2px solid $editor-color;
    height: rem(40);
    width: 100%;

    content: "";
    will-change: transform;
  }

  &.is-focused:before {
    transform: translateY(-50%) scaleY(1);
  }

  &.is-dirty:before,
  &.is-focused:before {
    border-color: $editor-color-focus;
  }

  &.is-disabled:before {
    display: none;
  }

  &.is-readonly:before {
    border-color: $editor-color-disable-light;
    border-style: dotted;
  }
}

// Editor control
// ----------------------------------------------------------------------------

// Child: actual control node.

.Editor-control {
  @include border-radius($editor-control-border-radius);
  @include transition-default(border-color);

  display: block;

  border: none;
  height: rem(32);
  margin: 0;
  padding: rem($editor-control-padding);
  width: $editor-control-width;

  background: transparent;

  color: inherit;
  font-family: inherit;
  font-size: rem($editor-control-font-size);
  line-height: normal;
  text-align: left;

  will-change: transform;

  @include _placeholder {
    opacity: 0.54;

    font-weight: 200;
    letter-spacing: 0.01em;
  }

  // State
  &:focus {
    outline: none;
  }

  .Editor.is-disabled & {
    background-color: $editor-color-disable-light;

    color: $editor-color-disable-dark;
  }

  &[readonly],
  .Editor.is-readonly & {
    cursor: not-allowed;
  }
}

textarea.Editor-control {
  height: auto;
}

// Label
// ----------------------------------------------------------------------------

// Child: add a label to an editor.

.Editor-label {
  @include transition-default(color, font-size, transform);

  display: block;
  left: rem($editor-control-padding);
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  padding: 0;

  color: $editor-color;
  line-height: 1.5;
  text-align: left;
  white-space: nowrap;

  pointer-events: none;
  will-change: transform;

  // State

  .Editor.is-dirty &,
  .Editor.is-focused & {
    transform: translateY(-200%);

    color: $editor-color-focus;
    font-size: $font-size-medium;
  }

  .Editor.is-disabled & {
    color: $editor-color-disable-dark;
  }

  .Editor.is-invalid & {
    color: $editor-invalid-color;
  }
}

// Help/Message
// ----------------------------------------------------------------------------

%message {
  position: absolute;

  margin-top: rem($spacing-small);
}

// Child: add help text for control.

.Editor-help {
  @extend %message;

  display: block;

  color: $editor-help-color;
  font-size: rem($editor-label-hanging-font-size);
}

// Child: invalid editor message to user telling what is wrong.

.Editor-message {
  @extend %message;

  display: none;

  color: $editor-invalid-color;
  font-size: rem($font-size-small);

  .Editor.is-invalid & {
    display: block;
  }
}
