/**
 * Provide consistent look with Tables.
 */

@import '../config';
@import "../_mixins/transitions";
@import "../../node_modules/underscore.css.scss/scss/functions/rem";

.Table {
  position: relative;

  border: 1px solid $table-border-color;

  background-color: $table-background;

  font-size: $table-font-size;
  white-space: nowrap;

  thead {
    padding-bottom: _rem(3);
  }

  tbody {
    tr {
      @include transition-default(background-color);

      position: relative;

      height: _rem($table-row-height);

      &.is-selected {
        background-color: $table-row-selected;
      }

      &:hover {
        background-color: $table-row-hover;
      }
    }
  }

  td,
  th {
    position: relative;

    padding: 0 #{_rem($spacing-medium)} #{_rem($spacing-medium)};

    text-align: right;

    &:first-of-type {
      padding-left: _rem($spacing-base);
    }

    &:last-of-type {
      padding-right: _rem($spacing-base);
    }
  }

  td {
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    height: _rem($table-row-height);
    padding-top: _rem($spacing-medium);

    color: $table-cell-color;
    vertical-align: middle;
  }

  th {
    height: _rem($table-row-height);
    padding-bottom: _rem($spacing-small);

    color: $table-header-color;
    font-size: _rem($table-header-font-size);
    line-height: $table-header-line-height;
    vertical-align: bottom;
    text-overflow: ellipsis;
  }
}
