/**
 * Text helpers.
 */

// Dependencies
@import "../config";

.text-danger {
  color: $color-red-500;
}

.text-primary {
  color: $theme-primary;
}

.text-accent {
  color: $theme-accent;
}

// Experimental helper.
// Use at own risk.
.text-tint {
  color: $theme-tint;
}
