// Application configuration defaults.
//
// Variable anatomy:
// <component/>-<modifier>-<state>-<property>: value

// Dependencies

@import "_addons/font-stacks";
@import "_addons/ratio-variables";
@import "_functions/modular-scale";

// Addons
@import "_addons/easings";

// Application options
// ----------------------------------------------------------------------------

$has-append-media:  true !default;
$has-border-radius: true !default;
$has-display-media: true !default;
$has-hover-media:   false !default;
$has-layout-media:   true !default;
$has-prepend-media: true !default;
$has-shadows:       true !default;
$has-size-media:    true !default;
$has-transitions:   true !default;

// Colors
// ----------------------------------------------------------------------------

// Grayscale
$gray-darker:   #222 !default;
$gray-dark:     #333 !default;
$gray:          #555 !default;
$gray-light:    #999 !default;
$gray-lighter:  #eee !default;

// Palettes and weights
@import "color-config";

// Theming
$theme-primary: $color-secondary-500 !default;
$theme-primary-light: $color-secondary-100 !default;
$theme-primary-dark: $color-secondary-700 !default;
$theme-accent: $color-turquoise-a700 !default;

$theme-primary-contrast: $color-contrast-light !default;
$theme-accent-contrast: $color-contrast-light !default;

// Typograpphy
// ----------------------------------------------------------------------------

// Resource: http://www.modularscale.com/?16&px&1.25&sass&text
$font-rhythm: $major-third !default;

// Font sizes
$font-size-root: 16px !default;

$font-size-base:   $font-size-root !default;
$font-size-large:  ms($font-size-root, 1, $font-rhythm) !default;
$font-size-medium: ceil(ms($font-size-root, -1, $font-rhythm)) !default;
$font-size-small:  ceil(ms($font-size-root, -2, $font-rhythm)) !default;

$font-size-h1: ms($font-size-root, 5, $font-rhythm) !default;
$font-size-h2: ms($font-size-root, 4, $font-rhythm) !default;
$font-size-h3: ms($font-size-root, 3, $font-rhythm) !default;
$font-size-h4: ms($font-size-root, 2, $font-rhythm) !default;
$font-size-h5: $font-size-large !default;
$font-size-h6: $font-size-base !default;

// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$font-family-base:
  -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif !default;
$font-family-code:    $consolas !default
$font-family-headers: inherit !default

$line-height-base:    ($font-size-root * 1.5) !default;
$line-height-headers: 1.1 !default;

// Borders
// ----------------------------------------------------------------------------

$border-width: 1px !default;
$border-radius-large:  6px !default;
$border-radius-medium: 4px !default;
$border-radius-small:  2px !default;

// Links
// ----------------------------------------------------------------------------

$link-color:                 $theme-accent !default
$link-text-decoration:       none !default
$link-color-hover:           mix(#000, $link-color, 25%) !default
$link-color-text-decoration: underline !default

// Spacing
// ----------------------------------------------------------------------------

$spacing-base:   $line-height-base !default;
$spacing-small:  ($spacing-base / 4) !default;
$spacing-medium: ($spacing-base / 2) !default;

$spacings: (
  n: 0,
  s: $spacing-small,
  m: $spacing-medium,
  l: $spacing-base
) !default;

// Breakpoints
// ----------------------------------------------------------------------------

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1400px
) !default;

// Size
// ----------------------------------------------------------------------------

$sizes: 2 3 4 5 6 8 10 12 !default;

// Transitions
// ----------------------------------------------------------------------------

$transition-duration: 0.3s !default;
$transition-timing-function: $easeInOutQuart !default;

// Components
// ----------------------------------------------------------------------------

// Components z-index master list.
$zindex-mask:   400 !default;
$zindex-drawer: 500 !default;
$zindex-modal:  600 !default;
$zindex-menu:   700 !default;

// App
$layout-header-height: 56px !default;
$layout-header-height-md: 64px !default;
$layout-header-background: $theme-primary !default;

$layout-title-font-size: ms($font-size-root, 2, $font-rhythm) !default;

$layout-drawer-width: 288px !default;
$layout-drawer-translateX: -($layout-drawer-width) !default;
$layout-drawer-background-color: #fff !default;
$layout-drawer-border-color: $color-grey-100 !default;

$layout-left-offset:  $layout-drawer-width !default;

$layout-nav-color: $theme-primary-contrast !default;

// Button
$button-radius: $border-radius-medium !default;
$button-padding-vertical: $spacing-medium !default;
$button-padding-horizontal: $spacing-base !default;
$button-disabled-opacity: 0.5 !default;

$button-background: rgba($color-grey-500, 0.25) !default;
$button-active-background: rgba($color-grey-500, 0.50) !default;
$button-hover-background: $button-background !default;
$button-focus-background: rgba(#000, 0.12) !default

// $button-color: rgba($color-grey-500, 0.25) !default;
$button-color: #000 !default;
$button-active-color: rgba($color-grey-500, 0.50) !default;
$button-hover-color: $button-color !default;
$button-focus-color: rgba(#000, 0.12) !default;
$button-font: inherit !default;

$button-primary-color: $theme-primary !default;
$button-secondary-color: $theme-primary-contrast !default;
$button-hover-color-alt: $theme-primary !default;
$button-active-color-alt: $theme-primary !default;
$button-focus-color-alt: $button-focus-color !default;

// Card
$card-width: 330px !default;
$card-height: 200px !default;
$card-font-size: inherit !default;
$card-title-font-size: ($font-size-root * 1.5) !default;
$card-subtitle-font-size: 14px !default;
$card-horizontal-padding: 16px !default;
$card-vertical-padding: 16px !default;

$card-hd-perspective-origin-x: 165px !default;
$card-hd-perspective-origin-y: 56px !default;

$card-hd-transform-origin-x: 165px !default;
$card-hd-transform-origin-y: 56px !default;

$card-title-transform-origin-x: 149px !default;
$card-title-transform-origin-y: 48px !default;

$card-supporting-text-font-size: 1rem !default;
$card-supporting-text-line-height: 18px !default;

$card-actions-font-size: 16px !default;

$card-title-text-font-weight: 300 !default;
$card-z-index: 1 !default;

$card-background-color: #fff !default;
$card-text-color:  #000 !default;
// $card-image-placeholder-color: $color-accent !default;
// $card-supporting-text-text-color: rgba-tpl($color-black, 0.54) !default;
$card-border-color: rgba(0,0,0,0.1) !default;
$card-subtitle-color: rgba-tpl(#000, 0.54) !default;

// Checkbox

$checkbox-color: #333 !default;
$checkbox-color-hover: #808080 !default;
$checkbox-color-focus: #666 !default;
$checkbox-color-disabled-dark: #c4c4c4 !default;
$checkbox-color-disabled-light: #e5e5e5 !default;
$checkbox-size: 24px !default;
$checkbox-label-font-size: $font-size-base !default;
$checkbox-check: "%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2221%22%20height%3D%2216%22%20viewBox%3D%220%200%2021%2016%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M21.333%203.636l-3.944-3.636-9.447%208.722-4-3.691-3.943%203.641%207.937%207.329%200.005-0.010%200.012%200.010z%22%3E%3C/path%3E%0A%3C/svg%3E" !default;

// Editor
$editor-vertical-spacing:  $spacing-base !default;
$editor-font-size:         $font-size-base !default;
$editor-width:             300px !default;
$editor-placeholder-color: $color-grey-500 !default;
$editor-color: #333 !default;
$editor-color-focus: #666 !default;
$editor-color-disable-light: #e5e5e5 !default;
$editor-color-disable-dark: #c4c4c4 !default;

$editor-invalid-color: $color-red-400 !default;

$editor-control-border-radius: $border-radius-medium !default;
$editor-control-border-color: #333 !default;
$editor-control-font-size:    $font-size-base !default;
$editor-control-padding:      7px !default;
$editor-control-width:        100% !default;

$editor-label-color: #333 !default;
$editor-label-top:               $spacing-base !default;
$editor-label-after-bottom:      $spacing-base !default;
$editor-label-hanging-font-size: $font-size-medium !default;

$editor-help-color: $color-grey-800 !default;

// Form
$form-control-height: ($line-height-base + $spacing-medium) !default;

// Grid
$grid-gutter: $spacing-base !default;

// Menu
$menu-box-padding: $spacing-small !default;
$menu-item-height: ($spacing-base * 2) !default;
$menu-item-outline-bg-color: $color-grey-400 !default;
$menu-item-focus-bg-color: $color-grey-200 !default;
$menu-divider-color: rgba($color-contrast-dark, 0.15) !default;

// Modal
$modal-dialog-width: 600px !default;
$modal-lg-dialog-width: 900px !default;

// Radio
$radio-size: 24px !default;
$radio-color: #333 !default;
$radio-color-focus: #666 !default;
$radio-color-hover: #808080 !default;
$radio-color-disabled-dark: #c4c4c4 !default;
$radio-color-disabled-light: #e5e5e5 !default;

$radio-label-font-size: $font-size-root !default;

// Table
$table-border-color: rgba(#000, 0.12) !default;
$table-background:   #fff !default;
$table-font-size:    $font-size-medium !default;

$table-row-height:   48px !default;
$table-row-selected: #e0e0e0 !default;
$table-row-hover:    #eee !default;

$table-cell-color:         rgba(#000, 0.90) !default;

$table-header-height:      48px !default;
$table-header-color:       rgba(#000, 0.60) !default;
$table-header-font-size:   $font-size-small !default;
$table-header-line-height: 1.5 !default;
