// Transition mixins.

@mixin transition($transtion...) {
  @if $has-transitions {
    transition: $transition;
  }
}

@mixin transition-default($prop...) {
  @if $has-transitions {
    transition-property: $prop;
    transition-duration: $transition-duration;
    transition-timing-function: $easeInOutQuart;
  }
}
